
## https://github.com/Koihik/LuaFormatter/blob/master/docs/Style-Config.md
## vscode lua 自动格式化插件配置文件
## 插件vscode-lua-format

## 一行的列限制
column_limit: 380

## 用于缩进的空格数
indent_width: 4

## 使用制表符进行缩进
use_tab: false

## 缩进空格数
tab_width: 4

##连续线的缩进宽度
continuation_indent_width: 4

## 在函数调用时插入一个空格，并省略括号。
spaces_before_call: 1


## 允许将简单控制块（例如，if、while、for、...）格式化为一行
keep_simple_control_block_one_line: false

## 允许将简单函数格式化为一行。
keep_simple_function_one_line: false

## 如果有换行符，请对齐函数调用的参数。如果为 false，则使用continuation_indent_width缩进
align_args: false

## 如果列大于 ，则在函数调用的 左括号 之后中断column_limit。
break_after_functioncall_lp: false

## 如果列大于 ，则在函数调用的 右括号 之前中断column_limit。
break_before_functioncall_rp: false

## 如果有换行符，则对齐函数定义的参数。如果为 false，则使用continuation_indent_width缩进。
align_parameter: true

## 如果函数声明不适合一行，则砍掉所有参数。
chop_down_parameter: false

## 如果列大于 ，则在函数定义的 左括号 之后中断column_limit。
break_after_functiondef_lp: true

## 如果列大于 ，则在函数定义的 右括号 之后中断column_limit。
break_before_functiondef_rp: true

## 如果有换行符，请对齐表格的字段。如果为 false，则使用indent_width缩进。
align_table_field: true

## 如果列大于 ，则在表的 左大括号 后中断column_limit。
break_after_table_lb: true

## 如果列大于 ，则在表的 右大括号 后中断column_limit。
break_before_table_rb: true

## 列表一个数值占一行
chop_down_table: true

## 如果表包含键 一对 占一行 
chop_down_kv_table: true

## 定义字符来分隔表字段
table_sep: ","

## 表中每行的列限制。column_limit如果设置为 0（默认值），则使用 的值。
column_table_limit: 0

## 除非表格位于单行中，否则在最后一个字段后添加额外的字段分隔符。
extra_sep_at_table_end: false

## 如果列大于 ，则在运算符后放置中断column_limit。如果为 false，则将 Break 放在运算符之前。
break_after_operator: true

double_quote_to_single_quote: false

single_quote_to_double_quote: false

spaces_around_equals_in_field: true

## 函数体后换行
line_breaks_after_function_body: 1

line_separator: input